<div class="container">
      <footer>
        <p style="text-align:center";>Concerned Observer Group 2026 </p>
        <a
          href="/"
          class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
          aria-label="Bootstrap"
        >
          <svg class="bi me-2" width="40" height="32" aria-hidden="true">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>

        <!-- 
        <ul class="margin-left">
          <li class="nav-item">
            <a href="#" class="text-center">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="text-center">Features</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">System Administration</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">FAQs</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">About</a>
          </li>
        </ul>
        Your comment goes here -->
      </footer>
    </div>