<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <title>Vote Tally</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .button-class {
            background-color:green;
            /* Green */
            border: none;
            color: white;
            padding: 1px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
        }
    </style>



    
</head>
<body>
    
    <div class="container">
        <img src="/static/JFAClogo.jpg" height="200" width="240">
        
        <p style:bold > "One-stop center" for Agribusiness, <br>located in Nansana-Jenina,<br> Wakiso District. </p>
        
        <a href="{{url_for('login')}}" class="button-class">LOGIN</a>
        <hr>
        <div>
        <h5 class="underline">For Support, Please Contact the System administrator</h5>
        </div>
    </div>
   
    
</body>
   
</html>
