<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <title>Vote Tally</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .button-class {
            background-color: #4d05f5;
            /* Green */
            border: none;
            color: white;
            padding: 1px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
        }
    </style>



    
</head>
<body>
    
    <div class="container">
        <img src="https://replit.com/@eminenceuganda/Vote-tally#static/ugflag.jpg" height="80" width="40">
        <h1>Vote Tally</h1>
        <p style:bold>Tally Votes from Declaration Forms</p>
        <p><b>The Electoral Commission Act, Cap 140 </b></p><br>
        
        <a href="/sys_login.html" class="button-class">LOGIN</a>
       
        <hr>
        <div>
        <h5 class="underline">If you are not registered, Please Contact the System                         administrator</h5>
        </div>
    </div>
   
    
</body>
   
</html>
