<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top bg-black align-items-right">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">VOTE-TALLY</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"href="{{url_for('index')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('results2')}}">Results</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Analysis</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            System Administration
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Add New User </a></li>
            <li><a class="dropdown-item" href="{{url_for('entries')}}">Add Distict</a></li>
            <li><a class="dropdown-item" href="{{url_for('constituency')}}">Add Constituency</a></li>
           <li><a class="dropdown-item" href="{{url_for('subcounty')}}">Add Sub-county</a></li>
            <li><a class="dropdown-item" href="{{url_for('parish')}}">Add Parishes</a></li>
            <li><a class="dropdown-item" href="{{url_for('pollingstation')}}">Add pollingstation</a></li>
           <li><a class="dropdown-item" href="{{url_for('post')}}">Add Post</a></li>
            <li><a class="dropdown-item" href="{{url_for('candidates')}}">Add Candidates</a></li>
            <li><a class="dropdown-item" href="{{url_for('linkcandpost')}}">Link candidates to post</a></li>
      
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>